/* Botón de marca azul */
.btn-brand {
    background-color: var(--color-brand);
    color: #fff;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-brand:hover {
    background-color: var(--color-brand-hover);
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #fff;
}

/* Botón de marca blanco */
.btn-brand-light {
    background-color: #fff;
    color: var(--color-brand);
    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
}

.btn-brand-light:hover {
    background-color: #d4d3d3;
    color: var(--color-brand);
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* animación de elevación suave para botones y elementos interactivos */
.hover-lift {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-lift:hover {
    transform: translateY(-8px);
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, .15);
    cursor: pointer;
}

/* Animaciones */
.fade-in {
    opacity: 0;
    animation: fadeInUp 0.8s ease forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
        /* solo durante la animación */
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Variantes */
.fade-in.fast {
    animation-duration: 0.5s;
}

.fade-in.slow {
    animation-duration: 1.5s;
}

.fade-in.delayed {
    animation-delay: 0.3s;
}

@keyframes shake {
    0% { transform: translateX(0); }
    20% { transform: translateX(-4px); }
    40% { transform: translateX(4px); }
    60% { transform: translateX(-4px); }
    80% { transform: translateX(4px); }
    100% { transform: translateX(0); }
}

.shake {
    animation: shake 0.4s;
}
